@import "../../index.css";
.create {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  margin-top: 2rem;
}
form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--primary-blue-purple);
  border-radius: 4px;
  box-sizing: border-box;
}
input:focus {
  outline: none;
  border: 1px solid var(--secondary-light-purple);
  box-shadow: 0 0 10px var(--secondary-light-purple);
}
button[type="submit"] {
  width: 100%;
  background-color: var(--primary-purple);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--primary-blue-purple);
}
